<br>

<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link, class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, value: Date.current.strftime("%d-%m-%Y"), class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.text_field :language, class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind, class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "border-2 border-gray-700 rounded" %>
  </div>

  <br>

  <div class="text-blue-600">
    <%= form.submit %>
  </div>
<% end %>
