<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= lesson.link %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= lesson.date %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= lesson.language %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= lesson.kind %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

</div>
